* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout {
  width: inherit;
}

.cartItem {
  width: 60%;
  margin: 5rem 10rem;
}

h1 {
  font-size: 1.6rem;
}

.cartItems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.4rem auto;
}

.cartItems-img-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartItem-img {
  margin-right: 3rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  box-shadow: rgba(8, 8, 9, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cartItem-price-name {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.addcart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.4rem;
}

.increment-decrement-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.increment-decrement-btn button {
  border: none;
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  font-weight: 500;
  font-size: 1.3rem;
  background-color: #f1eff0;
}

.out-stock {
  color: rgb(255, 111, 111);
  font-size: 1.2rem;
}


hr {
  height: 0.1rem;
  color: black;
  background-color: black;
  border: 1px solid black;
}

.total {
  font-weight: bolder;
  font-size: 1.4rem;
  margin: 1rem 0;
  margin-left: 3.5rem;
}

.empty-cart-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 5rem 0;
}


/* Media query for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
  /* Adjust styles for large screens here */
  body {
    max-width: 100%;
  }
  .checkout {
    max-width: inherit;
  }
}
