* {
  margin: 0;
  padding: 0;
}

.no-item-div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.no-item {
  display: flex;
  justify-content: center;
  align-items: space-around;
  margin: 2rem 0;
}
